{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <img class="background-image" src="{% static 'img/background.jpg' %}" />
  <div class="container">
    <header>
      <h1>{% block title %} {% endblock %}</h1>
      <nav style="display: flex; align-items: center; gap: 10px;">
        {% with request.resolver_match.url_name as url_name %}
          {% if url_name == 'users' %}
            <a href="{% url 'users_add' %}">Add User</a>
          {% endif %}
          <a href="{% url 'users'  %}">Users</a>
          <a href="{% url 'posts' %}">Posts</a>
          <a href="{% url 'items' %}">Items</a>
          <a href="{% url 'details_add' %}">Add New Item</a>
        {% endwith %}
      </nav>
   </header>
   <main>
    {% block content %} {% endblock %}
   </main>
  </div>
</body>
</html>